@model List<Proyecto_Indicadores.Models.UnidadMedida>

@using GridMvc.Html

@{
    ViewBag.Title = "Consulta";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Consulta Unidades Medida</title>

    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="~/scripts/gridmvc.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.js"></script>


</head>
<body>

    <div>
        <h1 class="Titulos">Registros: @ViewBag.Title</h1>
        <div>
            <nav class="navbar navbar-light" style="margin-left:-2%">
                <ul class="nav justify-content-center">
                    <li class="nav-item">@Html.ActionLink("Crear Nuevo", "")</li>
                </ul>
            </nav>
        </div>    
        @Html.Grid(Model).Columns(Columns => {
       Columns.Add()
           .Encoded(false)
           .Sanitized(false)
           .RenderValueAs(o => Html.ActionLink("Editar", "", "", new { Unidad = o }, null));
       Columns.Add(c => c.IdUnidad).Titled("Id Unidad").Filterable(true);
       Columns.Add(c => c.Siglas).Titled("Siglas").Filterable(true);
       Columns.Add(c => c.Descripcion).Titled("Descripcion").Filterable(true);
       Columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .RenderValueAs(o => Html.ActionLink("Eliminar", "", "", new { IdUnidad = o.IdUnidad }, null));

   }).WithPaging(5).Sortable(true)

    </div>

</body>
</html>






