@model List<Proyecto_Indicadores.Models.UnidadMedida>
@using GridMvc.Html

@{
    ViewBag.Title = "Unidades de Medida";
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";

}

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/scripts/gridmvc.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/scripts/bootstrap.js"></script>
<div id="DivCuerpo" class="container col-lg-12 col-md-10 col-sm-6">

    @using (Html.BeginForm("ImportXmlData", "UnidadMedida", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <fieldset>

        <div id="DivConsulta" class="container col-lg-12 col-md-10 col-sm-6">
            <h1 class="Titulos">Registros: @ViewBag.Title</h1>

            <div>
                <nav class="navbar navbar-light" style="margin-left:-2%">
                    <ul class="nav justify-content-center" style=" width: 25%">
                        <li class="nav-item">@Html.ActionLink("Crear Nuevo", "CrearUnidadMedida", "UnidadMedida")</li>
                        <li class="nav-item" style="padding-left: 30px">@Html.ActionLink("Exportar", "ExportarExcel", null, null)</li>
                    </ul>
                </nav>
            </div>
            @Html.Grid(Model).Columns(Columns =>
        {
            Columns.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(o => Html.ActionLink("Editar", "GetDataPreEdit", "UnidadMedida", new { Idunidad = o.IdUnidad }, null));
            Columns.Add(c => c.IdUnidad).Titled("Id Unidad").Filterable(true);
            Columns.Add(c => c.Siglas).Titled("Siglas").Filterable(true);
            Columns.Add(c => c.Descripcion).Titled("Descripcion").Filterable(true);
            Columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .RenderValueAs(o => Html.ActionLink("Eliminar", "EliminarUnidadMedida", "UnidadMedida", new { IdUnidad = o.IdUnidad }, null));


        }).WithPaging(5).Sortable(true)

            <br /><input type="file" name="xmlFile" id="IdxmlFile" class="btn btn-light" />
            <input type="submit" id="xmlImport" onclick="XmlImport();" value="Importar" class="btn btn-primary" />

        </div>


    </fieldset>


    }

        
</div>



