@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
}

<div id="DivMensajeBienvenida">
    <div id="DivCuerpo">
        <div class="jumbotron" style=" width:60%; height:60%; float:left; margin-left:40%">
            <h1 class="display-4" style="font-size:35px; text-decoration:solid">Bienvenido al Módulo de Manejo de Indicadores del Banco Central</h1>
            <p class="lead">Por favor seleccione algún componente del indicador para comenzar a trabajar.</p><br />
            <img id="ImagenBanco" src="~/Content/Img/bccr5.png" alt="Logo" style="margin-top: 100px; margin-left:30%" />
            <hr class="my-4">
            
        </div>
    </div>
</div>

